
:root {
  --amarillo: #f7c600;
  --oscuro: #333;
  --gris: #f4f4f4;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  color: var(--oscuro);

  background:
    linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("img/fondo-oficial.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

header {
  background: var(--amarillo);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: var(--oscuro);
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: white;
  text-align: center;
  padding: 70px 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #25d366;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}









.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
}

.producto {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 15px 0 5px;
}

.producto p {
  font-size: 18px;
  font-weight: bold;
}



/* ===== RESPONSIVE MOBILE ===== */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: inline-block;
    margin: 8px 10px;
    font-size: 16px;
  }

  .hero {
    padding: 40px 15px;
  }

  .hero h2 {
    font-size: 26px;
  }

  .hero p {
    font-size: 16px;
  }

  .productos {
    padding: 20px;
    gap: 20px;
  }

  .producto {
    padding: 15px;
  }

  .producto h3 {
    font-size: 18px;
  }

  .producto p {
    font-size: 16px;
  }

  .btn {
    width: 100%;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }

  input[type="text"] {
    width: 95% !important;
  }
  @media (max-width: 768px){
    body {
      background-attachment: scroll;
}
}
}